{% extends 'main/base.html' %}

{% block title %}
Home
{% endblock %}

{% block header %}
<h1> League Stat Manager </h1>

<nav>
    <ul>
        {% if user.is_authenticated %}
            <li>Signed in as {{ user.username }}</li>
            <li><a href="/logout">Logout</a></li>
            <li><a href="/player_data">Player Data</a></li>
        {% else %}
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/player_data">Player Data</a></li>
        {% endif %}
    </ul>
</nav>

{% endblock %}

{% load crispy_forms_tags %}

{% block article %}
<h3>Home Page</h3>
<div class="search-form-containter">
    <form method = "GET" action = "{% url 'summoner_info' %}">
        {% csrf_token %}

        <input q="name" type="search" placeholder="insert summoner name here...">
        <button type="submit" class="btn btn-outline-secondary">Search</button>
    </form>
</div>
{% endblock %}