{% extends 'main/base.html' %}
{% load static %}
{% block title %}
Home
{% endblock %}

{% block header %}
<h1> League Stat Manager </h1>
{% endblock %}

{% block nav %}
    {% if user.is_authenticated %}
        <a href="logout/">Logout</a>
        <a href="user_profile/">Profile</a>
        {% comment %} <a href="favorites/">Favorite Summoners</a> {% endcomment %}
        {% comment %} <h4>Signed in as {{ user.username }}</h4> {% endcomment %}
    {% else %}
        <a href="register/">Register</a>
        <a href="login/">Login</a>
    {% endif %}
{% endblock %}

{% load crispy_forms_tags %}

{% block article %}
<div class="search-form-containter">
    <form method = "GET" class="form-group">
        {% csrf_token %}
        {{form|crispy}}
        {% comment %} <input q="name" type="search" placeholder="insert summoner name here..."> {% endcomment %}
        <button type="submit" class="btn btn-outline-secondary">Search</button>
    </form>
</div>
{% endblock %}