{% extends 'main/base.html' %}
<html>
<head>
	<link rel="stylesheet" href="../style.css">
</head>

<body>
{% block title %}Register{% endblock %}

{% load crispy_forms_tags %}

{% block article %}
	<div class="content-section">
		<form method="POST" class="form-group">
			{% csrf_token %}
			<legend class="border-bottom mb-3">Create an Account</legend>
			{{form|crispy}}
			<button name="create", type="submit", class="btn btn-success">Register</button>
		</form>
	</div>
{% endblock %}
</body>
</html>