{% extends "main/base.html" %}
<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% load static %}
		<link rel="stylesheet" type="text/css" href="../../../static/main/css/style.css">
		<!--{% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"> {% endcomment %}-->
		<title>{% block title %}Password Reset Confirm{% endblock %}</title>
	</head>
    <body>
        {% block content %}

        {% load crispy_forms_tags %}  
        
        <!--Password Reset Confirm-->
          <div class="container p-5">
              <h2 class="font-weight-bold mt-3">Password Reset Confirm</h2>
              <hr>
              <p>Please enter your new password.</p>
              <form method="POST">
                  {% csrf_token %}
                  {{ form|crispy }}                    
                  <button class="btn btn-primary" type="submit">Reset password</button>
              </form>
          </div>
      
      {% endblock %}
    </body>
</html>